@CHARSET "UTF-8";

.box{
	background-color : #fef1f3;
	font-size : 1.5em;
	padding : 50px;
	margin : 5px;
	border-top : 4px double blue;
	border-bottom : 4px double blue;
}

.box pre{
	font-size:1.2em;
	background-color:#ddedee;	
}	

.box #result1, .box .dd{
	border : 1px dotted orange;
	padding : 10px;
	margin : 5px;
}

.box input[type=button]{
	background-color : blue;
	padding : 5px 10px;
	color : white;
	width : 150px;
	height : 50px;
	border-radius : 50px;
	margin : 10px;
	font-size : 1.2em;
}









